body{
	font-family: 'PT Sans', sans-serif;
	color: #FFFFFF;
	background: #000000;
}

a {
	color: #3BCAFF;
	text-decoration: none;
	letter-spacing: 1.5px;
}

h1{
	font-size: 1.75em;
	letter-spacing: 2px;
}

h2{
	font-size: 1.5em;
}



ul.nav {
	margin: 0 0 0 0;
}

ul.nav li {
	margin-right: 40px;
}

#intro li {
	font-size: 1.25em;
}


#intro {
	max-width: 940px;
	margin: 50px 0 75px 40px;
}


a:hover { 
	color: #FAF3BC;
}


.grif {
	text-decoration: bold;
}

#container {
	max-width: 940px;
	margin: 60px auto;
}

@media screen and (max-width: 930px) {
	body {
		max-width: 80%;
		font-size: 0.75em;
	}
}

@media screen and (max-width: 400px) {
	body {
		background: navy;
	}
}





