body{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	background: #FFFFFF;
}

a {
	color: #0000FF;
	text-decoration: none;
	letter-spacing: 1.25px;
	font-weight: 600;
}

p{
	font-size: 1.5em;
	letter-spacing: 2px;
	font-weight: 600;
}

h1{
	font-size: 1.75em;
	letter-spacing: 2px;
}


h2{
	font-size: 1.5em;
}


ul.nav li {
	margin-right: 40px;
}

#intro li {
	font-size: 1.25em;
}


#intro {
	max-width: 940px;
	margin: 50px 0 75px 40px;
}


a:hover { 
	color: navy;
}


.grif {
	text-decoration: bold;
}

#container {
	max-width: 940px;
	margin: 60px auto;
}

@media screen and (min-width: 20px) and (max-width: 930px){
	body {
		max-width: 80%;
		font-size: 0.75em;
		background: yellow;
	}
}






