body{
	font-family: 'PT Sans', 'Nunito';
	color: #FFFFFF;
	background: #000000 url('#.jpg') repeat;
}

a {
	color: #3BCAFF;
	text-decoration: none;
	letter-spacing: 1.5px;
}

h1{
	font-size: 1.750em;
	letter-spacing: 2px;
}

h2{
	font-size: 1.5em;
}



ul.nav {
	margin: 0 0 0 0;
}

ul.nav li {
	margin-right: 40px;
}


#intro {
	max-width: 940px;
	margin: 50px 0 75px 20px;
}


p {
	font-size: 16px;
}

a:hover { 
	color: #FAF3BC;
	text-transform: uppercse;
}

.grif {
	text-decoration: bold;
}

.container {
	max-width: 940px;
	margin: 100px auto;
}







